source https://nuget.org/api/v2

nuget FAKE
nuget FluentAssertions
nuget iTextSharp
nuget xunit
nuget xunit.core
nuget xunit.extensibility.core
nuget xunit.extensibility.execution
nuget xunit.runner.console
nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
nuget xunit.runners