framework: >= net46
source https://nuget.org/api/v2

nuget ApprovalTests
nuget FAKE
nuget FluentAssertions
nuget iTextSharp
nuget Newtonsoft.Json
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
nuget xunit.runners

source https://www.myget.org/F/boumenot/api/v3/index.json

nuget Grobid-IKVM.x64
nuget Grobid.Models copy_content_to_output_dir: preserve_newest
nuget pdf2xml